* {
	margin: 0;
	padding: 0;
}
body {
	height: 100vh;
	display: grid;
	grid-template-columns: minmax(200px, 15%) 85%;
	grid-template-rows: 20% 80%;
	font-family: 'Roboto', sans-serif;
}

.main-content {
	background-color: rgb(233, 230, 230);
	grid-column: 2;
}

/*--------------------HEADER-----------------------------------*/

header {
	display: grid;
	grid-template-rows: 40% 60%;
	padding: 0 2rem;
	z-index: 0;
	box-shadow: 0 4px 9px darkgray;
}

.upper-header {
	display: flex;
	justify-content: space-between;
	flex-shrink: 0;
}

.upper-header .material-icons {
	font-size: 1.3rem;
}

.searchbar-section, .login-info {
	display: flex;
	gap: 16px;
	align-items: center;
}

.login-info {
	gap: 32px;
}

input[type='search'] {
	border-radius: 12px;
	background-color: rgb(233, 230, 230);
	border-style: none;
	width: 500px;
	height: 1.25rem;
}

.lower-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.greetings-section {
	display: flex;
	gap: 24px;
	align-items: center;
}

.button-section {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1.5rem;
}

.login-name {
	margin-top: 6px;
}

.avatar-small {
	height: 40px;
}

.avatar-big {
	height: 64px;
}

button {
	border-radius: 16px;
	border-style: none;
	background-color: rgb(16, 144, 207);
	color: white;
	padding: 8px 24px;
	font-size: 12px;
	font-weight: 600;
	line-height: 1.5;
}

h4 {
	font-size: 0.85rem;
}
/*--------------------Side Navbar-----------------------------------*/

nav {
	background-color: rgb(16, 144, 207);
	color: white;
	grid-row: 1/3;
	font-weight: 600;
	z-index: 1;
}

.material-icons {
	font-size: 1rem;
}

.dashboard-title > .material-icons{
	font-size: 2rem;
}

h1 {
	padding-top: 1rem;
	padding-left: 0.5rem;
}

.navigation-section, .branding-section {
	padding: 1rem;
	font-size: 1rem;
	list-style: none;
}

nav > ul > li, h1 {
	display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 1rem;
}
