* {
	margin: 0;
	padding: 0;
}
body {
	height: 100vh;
	display: grid;
	grid-template-columns: minmax(200px, 15%) 85%;
	grid-template-rows: 12% 88%;
	font-family: 'Roboto', sans-serif;
}

.main-content {
	background-color: lightgray;
	grid-column: 2;
}

nav {
	background-color: rgb(16, 144, 207);
	color: white;
	grid-row: 1/3;
	font-weight: 600;
}

.material-icons {
	font-size: 1rem;
}

.dashboard-title > .material-icons{
	font-size: 2rem;
}

h1 {
	padding-top: 1rem;
	padding-left: 0.5rem;
}

.navigation-section, .branding-section {
	padding: 1rem;
	font-size: 1rem;
	list-style: none;
}

nav > ul > li, h1 {
	display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 1rem;
}
